# Manipulating DataFrams with pandas

## Extracting and transforming data

In [1]:
import pandas as pd
df = pd.read_csv('https://assets.datacamp.com/production/repositories/502/datasets/bf22326ecc9171f68796ad805a7c1135288120b6/all_medalists.csv', index_col='Athlete')
df[5:15]

,City,Edition,Sport,Discipline,NOC,Gender,Event,Event_gender,Medal
Athlete,,,,,,,,,
"CHOROPHAS, Efstathios",Athens,1896,Aquatics,Swimming,GRE,Men,1200m freestyle,M,Bronze
"HAJOS, Alfred",Athens,1896,Aquatics,Swimming,HUN,Men,1200m freestyle,M,Gold
"ANDREOU, Joannis",Athens,1896,Aquatics,Swimming,GRE,Men,1200m freestyle,M,Silver
"CHOROPHAS, Efstathios",Athens,1896,Aquatics,Swimming,GRE,Men,400m freestyle,M,Bronze
"NEUMANN, Paul",Athens,1896,Aquatics,Swimming,AUT,Men,400m freestyle,M,Gold
"PEPANOS, Antonios",Athens,1896,Aquatics,Swimming,GRE,Men,400m freestyle,M,Silver
"LANE, Francis",Athens,1896,Athletics,Athletics,USA,Men,100m,M,Bronze
"SZOKOLYI, Alajos",Athens,1896,Athletics,Athletics,HUN,Men,100m,M,Bronze
"BURKE, Thomas",Athens,1896,Athletics,Athletics,USA,Men,100m,M,Gold
"HOFMANN, Fritz",Athens,1896,Athletics,Athletics,GER,Men,100m,M,Silver

### Indexing using square brackets

In [2]:
df['City']['HERSCHMANN, Otto']

HERSCHMANN, Otto       Athens
HERSCHMANN, Otto    Stockholm
Name: City, dtype: object

### Using column attribute and row label

In [3]:
df.Medal['HAJOS, Alfred']

HAJOS, Alfred    Gold
HAJOS, Alfred    Gold
Name: Medal, dtype: object

### Using the .loc and .iloc accessors

In [4]:
#df.loc[row specifier, column specifier]
df.loc['LANE, Francis', 'Medal']

'Bronze'

In [5]:
df.iloc[4, 6]

'100m freestyle for sailors'