# Working With Relational Databases

## Creating a Database Engine

A **database engine** is the underlying component that a DBMS uses to create, read, update, and delete (CRUD) data from a database

The term ***database engine*** is frequently used interchangeably with ***database server*** or ***database management system***.

*In this example we will use SQLite and SQLAlchemy*

In [1]:
from sqlalchemy import create_engine
# Required parameter: A string that indicates the type of database you're connecting to, and the name of the database
engine = create_engine('sqlite:///Northwind.sqlite')
table_names = engine.table_names()
print(table_names)

# Note: Before we can query the database, we need to connect to the engine

['Category', 'Customer', 'CustomerCustomerDemo', 'CustomerDemographic', 'Employee', 'EmployeeTerritory', 'Order', 'OrderDetail', 'Product', 'Region', 'Shipper', 'Supplier', 'Territory']

## Querying relational databases in Python


**Workflow of SQL querying**

1. Import packages and functions
2. Create the database engine
3. Connect to the engine
4. Query the database
5. Save query results to a DataFrame
6. Close the connection

### Example: SQL Query with SQLAlchemy

In [2]:
# 1) Import packages and functions
from sqlalchemy import create_engine
import pandas as pd

# 2) Create the database engine
engine = create_engine('sqlite:///Northwind.sqlite')

# 3) Connect to the engine
con = engine.connect()

# 4) Query Database - Returns a SQLAlchemy results object
results = con.execute("SELECT * FROM Employee")

# 5) Save the query results into a Dataframe (Turn SQLAlchemy results object into a DataFrame)
df = pd.DataFrame(results.fetchall())
df.columns = results.keys()
df.head(2)

,Id,LastName,FirstName,Title,TitleOfCourtesy,BirthDate,HireDate,Address,City,Region,PostalCode,Country,HomePhone,Extension,Photo,Notes,ReportsTo,PhotoPath
0,1,Davolio,Nancy,Sales Representative,Ms.,1980-12-08,2024-05-01,507 - 20th Ave. E. Apt. 2A,Seattle,North America,98122,USA,(206) 555-9857,5467,None,Education includes a BA in psychology from Col...,2.0,http://accweb/emmployees/davolio.bmp
1,2,Fuller,Andrew,"Vice President, Sales",Dr.,1984-02-19,2024-08-14,908 W. Capital Way,Tacoma,North America,98401,USA,(206) 555-9482,3457,None,Andrew received his BTS commercial in 1974 and...,NaN,http://accweb/emmployees/fuller.bmp

In [3]:
# 6) Close the connection
con.close()

### Example: Using the Context Manager

When using the Context Manager, we do not need to explicitly close the connection

In [4]:
from sqlalchemy import create_engine
import pandas as pd
engine = create_engine('sqlite:///Northwind.sqlite')

# Using Context Manager
with engine.connect() as con:
    results = con.execute('''
        SELECT * FROM Employee
    ''')
    df = pd.DataFrame(results.fetchmany(size=3))
    df.columns = results.keys()
    print(df.head())

   Id   LastName FirstName                  Title TitleOfCourtesy   BirthDate  \
0   1    Davolio     Nancy   Sales Representative             Ms.  1980-12-08
1   2     Fuller    Andrew  Vice President, Sales             Dr.  1984-02-19
2   3  Leverling     Janet   Sales Representative             Ms.  1995-08-30

     HireDate                     Address      City         Region PostalCode  \
0  2024-05-01  507 - 20th Ave. E. Apt. 2A   Seattle  North America      98122
1  2024-08-14          908 W. Capital Way    Tacoma  North America      98401
2  2024-04-01          722 Moss Bay Blvd.  Kirkland  North America      98033

  Country       HomePhone Extension Photo  \
0     USA  (206) 555-9857      5467  None
1     USA  (206) 555-9482      3457  None
2     USA  (206) 555-3412      3355  None

                                               Notes  ReportsTo  \
0  Education includes a BA in psychology from Col...        2.0
1  Andrew received his BTS commercial in 1974 and...        NaN
2  Janet has a BS degree in chemistry from Boston...        2.0

                                PhotoPath
0    http://accweb/emmployees/davolio.bmp
1     http://accweb/emmployees/fuller.bmp
2  http://accweb/emmployees/leverling.bmp