# Indexing Time Series

## Using pandas to read DateTime objects

* read_csv() function
    * Can read strings into datetime objects
    * Need to specify **'parse_dates=True'**
* ISO 8601 format
    * yyyy-mm-dd hh:mm:ss

 **Parse Dates**

In [1]:
import pandas as pd
df = pd.read_csv('https://assets.datacamp.com/production/repositories/497/datasets/5b808399816c8dcb8eef08336595ef9b4eb22902/austin_airport_departure_data_2015_july.csv'
                 , header=10, index_col = 'Date (MM/DD/YYYY)', parse_dates =True)

## Partial datetime string selection

* Alternative formats:
    * df.loc['July 5, 2015']
    * df.loc['2015-July-5']
* Whole month: df.loc['2015-7']
* Whole year: df.loc['2015']

### Selecting whole month

In [2]:
july2015 = df.loc['2015-7']
july2015.head()

,Carrier Code,Flight Number,Tail Number,Destination Airport,Scheduled Departure Time,Actual Departure Time,Scheduled Elapsed Time(Minutes),Actual Elapsed Time(Minutes),Departure Delay(Minutes),Wheels-off Time,Taxi-out Time(Minutes),DelayCarrier(Minutes),DelayWeather(Minutes),DelayNational Aviation System(Minutes),DelaySecurity(Minutes),DelayLate Aircraft Arrival(Minutes),Unnamed: 17
Date (MM/DD/YYYY),,,,,,,,,,,,,,,,,
2015-07-01,WN,103.0,N8607M,MDW,06:30,06:52,165.0,147.0,22.0,07:01,9.0,0.0,0.0,0.0,0.0,0.0,NaN
2015-07-01,WN,144.0,N8609A,SAN,20:55,20:50,170.0,158.0,-5.0,21:03,13.0,0.0,0.0,0.0,0.0,0.0,NaN
2015-07-01,WN,178.0,N646SW,ELP,20:30,20:45,90.0,80.0,15.0,20:55,10.0,0.0,0.0,0.0,0.0,0.0,NaN
2015-07-01,WN,232.0,N204WN,ATL,05:45,05:49,135.0,137.0,4.0,06:01,12.0,0.0,0.0,0.0,0.0,0.0,NaN
2015-07-01,WN,238.0,N233LV,DAL,12:30,12:34,55.0,48.0,4.0,12:41,7.0,0.0,0.0,0.0,0.0,0.0,NaN

### Slicing using dates / times

In [3]:
df.loc['2015-07-05' : '2015-07-10'].head()

,Carrier Code,Flight Number,Tail Number,Destination Airport,Scheduled Departure Time,Actual Departure Time,Scheduled Elapsed Time(Minutes),Actual Elapsed Time(Minutes),Departure Delay(Minutes),Wheels-off Time,Taxi-out Time(Minutes),DelayCarrier(Minutes),DelayWeather(Minutes),DelayNational Aviation System(Minutes),DelaySecurity(Minutes),DelayLate Aircraft Arrival(Minutes),Unnamed: 17
Date (MM/DD/YYYY),,,,,,,,,,,,,,,,,
2015-07-05,WN,144.0,N8651A,SAN,20:55,21:10,170.0,160.0,15.0,21:20,10.0,0.0,0.0,0.0,0.0,0.0,NaN
2015-07-05,WN,178.0,N7703A,ELP,20:30,20:39,90.0,84.0,9.0,20:48,9.0,0.0,0.0,0.0,0.0,0.0,NaN
2015-07-05,WN,238.0,N751SW,DAL,12:30,12:33,55.0,51.0,3.0,12:41,8.0,0.0,0.0,0.0,0.0,0.0,NaN
2015-07-05,WN,285.0,N528SW,DAL,09:25,09:24,55.0,50.0,-1.0,09:32,8.0,0.0,0.0,0.0,0.0,0.0,NaN
2015-07-05,WN,311.0,N489WN,MDW,15:05,15:34,150.0,143.0,29.0,15:42,8.0,22.0,0.0,0.0,0.0,0.0,NaN

### Converting strings to datetime

The pandas .to_datetime() function can convert strings in ISO 8601 format to pandas datetime objects

In [4]:
july_11_2015 = pd.to_datetime(['2015-7-11'])

#### Reindexing DataFrames

In [5]:
# df.reindex(july_11_2015)

### Filling missing values

In [6]:
# ffill = forward fill, bfill = back fill
# df.reindex(july_11_2015, method='ffill')